.navbar{
  background-color: white;
}

.fixed-image {
  background-image: url(../imges/a102142be94f64c333ee96f335716675.jpg);

}
.fixed-img{
  
  background-attachment: fixed;
  background-size: cover;
  height: 500px;

}


.jumbotron p::first-line{
  color: #562e96;
  font-size: 25px;
}

.cardover {
  position: relative;
}
.cardover::before{

  position: absolute;
  content: "";

  width:0;
  height: 0;
  top: 0;
  left: 0; 
  background-color: #eee2ee;
  opacity: 0;
  transition: 2s;

}
.cardover:hover::before{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.cardover::after{

  position: absolute;
  content: "";
  width:0;
  height: 0;
  bottom: 0;
  right: 0;
  background-color: #f7f1f7;
  opacity: 0;
  transition: 2s;

}
.cardover:hover::after{
  height: 100%;
  width: 100%;
  opacity: 0.5;
}


.fixed-imagee{
  background-image: url(../imges/c16462ca47d8aa06645ec0b57638a2da.jpg);

}
.fixed-imge{

  
  background-attachment: fixed;
  background-size: cover;
  height: 400px;

}

.row{
  background-color:rgb(252, 245, 245);

}
.card-body::after{
  content: "";
  position: absolute;
  display: block;
  top: -20%;
  height: 130%;
  width: 55px;
  transform: skew(-1.2deg);
}

.postcard-bar{
  width: 70px;
  height: 5px;
  margin: 10px 0;
  border-radius: 3px;
  background-color: black;
  transition: all 0.1s;
}
.postcard:hover .postcard-bar{
  width: 150px;
}
.postcard__img_link {
  max-width: 400px;
  max-height: 100%;
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}
 .postcard__img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
.container:hover .postcard__img{
transition: width 0.2s;
  transform: scaleX(1.2);
  
}


.book{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 14% 100%);
}
.card-title a{
  text-decoration: none;
}

.postcard-tagbox i{
  font-size: 25px;
  text-align: center;
  color: #1e0ead;
  
}

.postcard-tagbox button{
  width: 150px;
  height: 45px;
  background-color: rgb(201, 209, 240);
  text-align: center;
  margin-top: 130px;
  font-size: 20px;
}

.icon-bar {
  position: fixed;
  padding: 15px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
 
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  justify-content: space-between;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  font-size: 35px;
}
.icon-bar a:hover {
  background-color: #eee7e7;
}

.facebook {
  
  background: white;
  color: rgb(38, 49, 202);
}

.twitter {
  background: white;
  color: rgb(40, 72, 107);
}

.google {
  background: white;
  color: rgb(42, 75, 56);
}

.linkedin {
  background: white;
  color: #007bb5;
}

.youtube {
  background: white;
  color: #bb0000;
}
.sec{
  background-color: white;

}
.sec .card{
  border: 5px solid;
}
.back1{
  background-image:url(../imges/Ernst-Mayr-enhanced-6-scaled.jpg) ;
  
  background-size: cover;
  position: relative;
  transition: all 1s;
  border-radius: 20px;
  
}
.back1:hover{
  scale: 1.1;

}
 .back1 .img-overlay{
  position: absolute;
  /* margin-left: -11px; */
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(163, 160, 160, 0.7),rgba(248, 222, 222, 0.7) );
  
  
 }    
 
 .back2{
  background-image:url(../imges/James-Watson.webp) ;
  border: 15px solid;
  background-size: cover;
  position: relative;
  transition: all 1s;
  border-radius: 20px;
  
}
.back2:hover{
  scale: 1.1;

}
 .back2 .img-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(163, 160, 160, 0.7),rgba(231, 229, 229, 0.7) );
  
  
 }  

 .back3{
  background-image:url(../imges/Huettner_094.web.jpg) ;
  border: 15px solid;
  background-size: cover;
  position: relative;
  transition: all 1s;
  border-radius: 20px;
  
}
.back3:hover{
  scale: 1.1;

}
 .back3 .img-overlay{
  position: absolute;
  /* margin-left: -11px; */
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(163, 160, 160, 0.7),rgba(231, 229, 229, 0.7) );
  
  
 }  




.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}



/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.car{
  box-shadow: 10px 10px 2px  rgb(67, 101, 112);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa {font-size:50px;
  color: white;
}

